<!DOCTYPE html>
<html>
  <head>
    <title>Vue 3 Basics</title>
    <style>
      .box {
        background-color: rgb(79, 80, 180);
        height: 200px;
        width: 200px;
      }

      .box2 {
        background-color: rgb(79, 180, 180);
        height: 200px;
        width: 200px;
      }

      .box3 {
        background-color: rgb(180, 145, 79);
        height: 200px;
        width: 200px;
      }

      [v-cloak] {
        display: none;
      }

    </style>
  </head>
  <body>
    <div class="app" v-cloak>
      {{ greeting }}
      <!-- double curly braces in html are parsed as javascript by vue -->

      <input v-model= "greeting"/>
      <!-- directives; such as v-model, connect elements in HTML with the Vue.js's javascript and are used just like HTML attributes -->
      <hr />

      <div v-if="isVisible" class="box"></div>
      <div v-else-if="isVisible2" class="box2"></div>
      <div v-else class="box3"></div>
      <!-- v-if expects a boolean variable and will show since the isVisible object is set to true -->
      <!-- v-if and v-show are very similar but v-if is typically more preferable because its only rendered on the dom if its true or truthy where as v-show is always rendered but the styling is set to hidden  or visible-->
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: 'Hello Vue 3!',
            isVisible: true,
            isVisible2: false
          }
        }
      })
      app.mount('.app')
    </script>
  </body>
</html>